@using CinemaOnline.BLL.ViewModels;
@model FilmViewModel
@{
    int a = 0;
}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.ImgUrl" class="img-fluid rounded-start" alt="@Model.Name">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">Genres: @string.Join(", ", Model.Genres)</p>                
                <div class="accordion accordion-flush" id="accordionFlush">
                    @foreach (var item in @Model.Sessions.Select(t => t.Time.Date).Distinct().ToList())
                    {
                        a++;

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-@a">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@a" aria-expanded="false" aria-controls="flush-collapse-@a">
                                    @item.ToString("dd.MM.yyyy")
                                </button>
                            </h2>
                            <div id="flush-collapse-@a" class="accordion-collapse collapse" aria-labelledby="flush-heading-@a" data-bs-parent="#accordionFlush">
                                <div class="accordion-body">
                                    <div class="container">
                                        <div class="row">
                                            @foreach (var cinema in @Model.Sessions.Where(t => t.Time.Date == item).Select(c => c.CinemaName).Distinct().ToList())
                                            {
                                                <div class="col-6 col-sm-4 order-first">
                                                    @cinema
                                                </div>
                                                <div class="col order-last">
                                                    @foreach (var time in @Model.Sessions.Where(t => t.Time.Date == item).Select(t => t.Time.Hour).ToList())
                                                    {
                                                        <button type="button" class="btn btn-outline-success">@time</button>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>            
        </div>            
    </div>
</div>