@using CinemaOnline.BLL.ViewModels;
@model FilmViewModel

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.ImgUrl" class="img-fluid rounded-start" alt="@Model.Name">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">Genres: @string.Join(", ", Model.Genres)</p>                
                <div class="accordion accordion-flush" id="accordionFlush">
                    @foreach (var date in @Model.Sessions.Select(t => t.Time.Date).Distinct().Select((value, index) => new { value, index }))
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-@date.index">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@date.index" aria-expanded="false" aria-controls="flush-collapse-@date.index">
                                    @date.value.ToString("dd.MM.yyyy")
                                </button>
                            </h2>
                            <div id="flush-collapse-@date.index" class="accordion-collapse collapse" aria-labelledby="flush-heading-@date.index" data-bs-parent="#accordionFlush">
                                <div class="accordion-body">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="list-group">
                                                @foreach (var cinema in @Model.Sessions.Where(t => t.Time.Date == date.value).Select(c => c.CinemaName).Distinct().ToList())
                                                {
                                                <li class="list-group-item">
                                                    <div class="container">
                                                        <div class="row align-items-start">
                                                            <div class="col-6 col-sm-4">
                                                                @cinema
                                                            </div>
                                                            <div class="col">
                                                                @foreach (var time in @Model.Sessions.Where(t => t.Time.Date == date.value).Select(t => t.Time).OrderBy(t => t.Hour).Distinct().ToList())
                                                                {
                                                                    <button type="button" class="btn btn-outline-info">@time.ToString("H:mm")</button>
                                                                }
                                                            </div>                                                            
                                                        </div>                                                        
                                                    </div>
                                                </li>
                                                }
                                            </ul>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>            
        </div>            
    </div>
</div>